/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.login_error{
	display: none;
}
.admin_section{
	display: flex;
	background-color: black;
	color: white;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
}
.admin_section button{
	background-color: black;
	color: white;
	margin: 0 5%;
}
.modal_btn_intro_figure{
	margin-left: 10%;

}
#publier_changement{
	background-color: white;
	color: black;
	border: 2px solid white;
	border-radius: 10px;
}
.modal{

	position: fixed;
	display: flex;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	
  }
  .modal_wrapper{
	width: 800px;
	height: fit-content;
	max-width: calc(100vw - 40px);
	max-height: calc(40em - 40px);
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
	background-color: white;
	margin: 25px auto;
  }
.modale_contenu{

	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.work-card-modale{

	margin: 15px;
	position: relative;
	
}
.work-image-modale{
	width: 150px;
	height: 140px;
	object-fit: cover;
}


button
{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
.modale button
{
	height: 25px;
} 
#ajoutez_photo{
	width: 65%;
	height: 35%;
	background-color: lightblue;
    margin: 7% auto;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hidden{
	display: none;
}
#ajoutez_photo_icone i {
height: 60px;
width: 60px;
}
form{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
#ajoutez_photo_titre{
	width: 75%;
}
#ajoutez_photo_categorie{
	width: 65%;
}
.image-preview{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	object-fit: cover;
}
.modale_separation{
	height: 0px;
	border: 1px solid grey;
	width: 60%;
	margin: 0 auto;
}
.delete_sign{

	position: absolute;
	top : 5px;
	left: 85%;
	z-index: 2;
}
.delete_sign i{
	height: 25px;
	width: 25px;
	color: white;
} 
#modal-close	{
	background-color: white;
	height: 70px;
	width: 70px;
	border: 0;
	position: absolute;
	top: 5px;
	left: 91%;

}
.modal-back{
	background-color: white;
	height: 45px;
	width: 70px;
	border: 0;
	position: absolute;
	top: 5px
	left 5%;
}
.modal-back i{
	color : grey;
	height: 25px;
	width: 25px;
}
.nav_modale
{
	position: relative;
	height: 50px;
}
#modal-close i {
	color:	grey;
	height: 100%;
	width: 100%;
}
.login_section{
	height: 45wm;
	width: 45wm;
	margin: 150px auto;
	padding-left: 41%;
	
}
.login_page {
	background-color: rgb(254, 252, 248);}
.modale_boutons{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
.modale_titre {
text-align: center;
margin-top: 10px;
}
#filters {
text-align: center;
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 85%;
margin: 0 auto;
}
.modale_menu_post_div{
	display: flex;
	flex-direction: column;
	margin: 25px auto;
	justify-content: center;
	align-items: center;
}
#ajoutez_photo{
	height: 180px;
	width: 350px;
}

.delete_all{
	background: white;
	border: 0;
	color: red;
	text-decoration: underline;
}
.modale_valider{
	opacity: 0.2;
}
.filter_btn{
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: white;
}
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }